.home_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}
.login_box{
    width: 300px;
    min-height: 250px;
    padding: 40px;
    border-radius: 30px;
    background-color: aquamarine;
}
.login_title{
    margin-top: 20px;
    text-align: center;
}
.input_section label{
    margin-left: 20px;
    display: block;
    margin-top: 20px;
}
.input_section input{
    margin-left: 20px;
    display: block;
    width: 80%;
    margin-top: 5px;
    padding: 5px;
}
.submit_btn{
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.error_section{
    margin-top: 15px;
    margin-left: 20px;
    color: red;
}