.header_wrapper{
    height: 10vh;
    /* width: 100vw; */
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.header_wrapper ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}

.nav_items{
    display: flex;
    gap: 40px;
}

.logout_btn{
    
    border-radius: 50%;
}